[Unit]
Description=Celery Worker Service
After=network.target redis-server.service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/codebase_research_agent
EnvironmentFile=/home/ubuntu/codebase_research_agent/.env

ExecStart=/home/ubuntu/codebase_research_agent/venv/bin/celery \
    -A config worker --loglevel=info

Restart=always

[Install]
WantedBy=multi-user.target