[Unit]
Description=Gunicorn for Codebase Research Agent
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/codebase_research_agent
EnvironmentFile=/home/ubuntu/codebase_research_agent/.env
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=775

ExecStart=/home/ubuntu/codebase_research_agent/venv/bin/gunicorn \
    config.wsgi:application \
    --workers 3 \
    --bind unix:/run/gunicorn/gunicorn.sock

Restart=always

[Install]
WantedBy=multi-user.target